/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Sidebar Navigation */
.section-nav {
  padding-left: 0;
  border: 2px solid black;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: -10px !important;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.section-nav a {
  text-decoration: none;
  display: block;
  padding: 0.25rem;
  color: black;
}

ul,
ol {
  list-style: none;
}

@media (min-width: 769px) {
  #nav {
    margin-right: 25px;
  }
}

@media (min-width: 1600px) {
  #nav {
    margin-right: 100px !important;
    font-size: 21px;
  }
}
