body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.tampil-jfcc,
.flight {
  display: none;
}

#hide-sm,
#hide-st,
#hide-bs,
#hide-ps-domestik,
#hide-ps-aircargo {
  display: none;
}

.card {
  margin-bottom: 25px;
}

.pala {
  width: 50px;
}

.teksm {
  color: white;
}

h5 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.tombol {
  font-size: 14px;
  border-color: white;
  color: white;
  border-radius: 50px;
  font-weight: 500;
}
.tombol:hover {
  background: #fdaf27;
  border-color: #fdaf27;
  color: #383888;
}

.tombol-ps {
  font-size: 14px;
  border-color: white;
  color: white;
  border-radius: 50px;
}
.tombol-drop {
  border-color: #fdaf27;
  color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #fdaf27;
}

.tombol:hover,
.tombol-ps:hover {
  background: #fdaf27;
  border-color: #fdaf27;
  color: #383888;
}

.tombol2 {
  border-color: #fdaf27;
  color: #383888;
  background-color: #fdaf27;
  border-radius: 10px;
  width: 150px;
}
.tombol3 {
  /* font-weight: 600; */
  border-radius: 20px;
  background-color: #03aa6f;
  color: white;
  /* width: 100px; */
  text-decoration: none;
}
/* input {
  height: 90px;
} */

.teks {
  font-weight: 600;
  font-size: 24px;
}

.teksdate {
  font-size: 24px;
  font-weight: 600;
}

.tekscard {
  font-size: 12px;
}
.wa {
  display: none;
}

.ray-logo {
  width: 150px;
}

.feed_txt {
  display: none;
}

@media (min-width: 768px) {
  .feed_txt {
    display: contents;
  }
  .feed_img {
    display: none;
  }
  .ma {
    padding-top: 175px;
  }
  .ma1 {
    padding-top: 250px;
  }

  .tombol {
    font-size: 21px;
    width: 300px;
    height: 90px;
    border-color: white;
    color: white;
    border-radius: 50px;
    font-weight: 600;
  }
  .tombol-ps {
    font-size: 21px;
    width: 250px;
    height: 90px;
    border-color: white;
    color: white;
    border-radius: 50px;
    font-weight: 600;
  }
  .tombol-drop {
    color: white;
    width: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .tombol:hover,
  .tombol-ps:hover {
    background: #fdaf27;
    border-color: #fdaf27;
    color: #383888;
  }
  .tombol2 {
    font-size: 21px;
    width: 200px;
    height: 50px;
    border-color: #fdaf27;
    color: #383888;
    background-color: #fdaf27;
    border-radius: 10px;
    font-weight: 600;
  }
  .tombol3 {
    font-weight: 600;
    font-size: 21px;
    border-radius: 20px;
    background-color: #03aa6f;
    color: white;
    /* width: 160px; */
    height: 40px;
    text-decoration: none;
  }
  .tekss {
    font-weight: 600;
    font-size: 18px;
  }

  .white {
    color: white;
  }
  .teksm {
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
  .tekscard {
    font-size: 18px;
    font-weight: 600;
  }

  .form-select {
    font-size: 21px;
  }
  /* .date {
    height: 50px;
  } */
  h5 {
    color: white;
    font-size: 21px;
    font-weight: 600;
  }
}

@media (min-width: 1024px) {
  .ma {
    padding-top: 150px;
  }
  .ma1 {
    padding-top: 225px;
  }

  .tombol {
    font-size: 24px;
    width: 550px;
    height: 90px;
    border-color: white;
    color: white;
    border-radius: 50px;
    font-weight: 600;
  }
  .tombol-ps {
    font-size: 24px;
    width: 500px;
    height: 90px;
    border-color: white;
    color: white;
    border-radius: 50px;
    font-weight: 600;
  }
  .tombol-drop {
    color: white;
    width: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .tombol:hover,
  .tombol-ps:hover {
    background: #fdaf27;
    border-color: #fdaf27;
    color: #383888;
  }
  .tombol2 {
    font-size: 24px;
    width: 440px;
    height: 50px;
    border-color: #fdaf27;
    color: #383888;
    background-color: #fdaf27;
    border-radius: 10px;
    font-weight: 600;
  }
  .tombol3 {
    font-weight: 600;
    font-size: 21px;
    border-radius: 20px;
    background-color: #03aa6f;
    color: white;
    width: 275px;
    height: 40px;
    text-decoration: none;
  }
  .tekss {
    font-weight: 600;
    font-size: 18px;
  }

  .white {
    color: white;
  }
  .teksm {
    font-size: 21px;
    font-weight: 600;
    color: white;
  }
  .tekscard {
    font-size: 18px;
    font-weight: 600;
  }

  .form-select,
  .form-control {
    font-weight: 600;
    font-size: 21px;
  }
  .wa {
    display: inherit;
  }
  .ray-logo {
    width: 200px;
  }
}
