@media (max-width: 1024px) {
  .section-nav {
    margin-right: 15px;
    font-size: 18px !important;
  }
  main {
    grid-template-columns: 1fr 0.75fr;
  }
}
@media (max-width: 767px) {
  #nav {
    display: none;
  }
}
